.row .button{
  display: flex;
  align-items: center;
  /* background: rgb(177, 222, 248); */
  background: #555;
  /* background: rgb(9, 31, 43); */
  font-size: 14px;
  color: rgba(255, 255, 255, 0.897);
  font-family: "Arial", Times, serif;
}
.text{
  text-align: center;
  align-items: center;
  font-size: 22px;
  font-family: "Arial", Times, serif;
}
.text2{
    text-align: left;
    align-items: center;
    font-size: 16px;
    font-family: "Arial", Times, serif;
  }
/* .box{
    display: flex;
  align-items: right;
}
.slider{
    max-width: 50px;
    background: aliceblue;
    
    }
.table-container{
    font-size: 20px;
    width: 350px;
    background: linear-gradient(90deg, #5b5177 0%, #c77373 100%);
    text-indent: 20px;
    letter-spacing: 1px;
    color:white;
    font-family: "Times New Roman", Times, serif;
    
    
 }
 .checkboxtable{
   font-size: '400px';
 } */
 .dropzone {
  flex: 1;
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
  padding: '20px';
  border-width: 2;
  border-radius: 2;
  border-color: '#eeeeee';
  border-style: 'dashed';
  background-color: '#fafafa';
  color: '#bdbdbd';
  outline: 'none';
  transition: 'border .24s ease-in-out';
}
